
body{
    background-color: black;
/* background: url(images/6.jpg) no-repeat top left/cover; */
}

.text{
    color: white ;
    font-size: 10vh;
    padding-left: 35vw;
    padding-top: 100px;
    font-weight: bold;
}

.container{
    padding: 3vh 0 0 45vw;
    width: 70px;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
.container img{
    width: 65px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid white;
    transition: all ease-in-out 0.5s;
}
.container img:hover{
width: 300%;
}